In [5]:
import pandas as pd 
import os

In [4]:
df_iter = pd.read_csv("green_tripdata_2019-10.csv.gz", iterator=True, chunksize=100000, compression="gzip")
while True:
    try:
        # Process the next chunk
        df = next(df_iter)
        # Perform processing
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
        # df.to_sql(name=table_name, con=engine, if_exists="append")
    except StopIteration:
        # Exit the loop when done
        print("Reached the end of the df")
        break

Reached the end of the df

/var/folders/jb/tswjt0115x1g7rxh3tbm78p80000gn/T/ipykernel_1590/1668528497.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

In [1]:
my_list = ['b','a']
my_iter = iter(my_list)
while True:
    try:
        element = next(my_iter)
        print(element)
    except StopIteration as err:
        print('No more data')
        break # handle error

b
a
No more data

In [6]:
df = pd.read_csv("green_tripdata_2019-10.csv.gz",compression="gzip")

df.shape

/var/folders/jb/tswjt0115x1g7rxh3tbm78p80000gn/T/ipykernel_1590/2016453354.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("green_tripdata_2019-10.csv.gz",compression="gzip")

(476386, 20)

In [7]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0